{% extends 'index.html' %}
{% load static %}
{% block title %}Cars{% endblock %}
{% block content %}
    <!-- ***** Call to Action Start ***** -->
    <section class="section section-bg" id="call-to-action" style="background-image: url(../static/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Our <em>Cars</em></h2>
                        <p>Ut consectetur, metus sit amet aliquet placerat, enim est ultricies ligula</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->

    <!-- ***** Fleet Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <br>
            <br>
            <div class="contact-form">
                <form action="#" id="contact">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Name:</label>
                                <div style="display: flex; justify-content: space-between; align-items: center;">
                                    <input type="text" class="form-control" id="name" placeholder="Name" value="">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Used/New:</label>
                     
                                 <select>
                                      <option value="">All</option>
                                      <option value="new">New vehicle</option>
                                      <option value="used">Used vehicle</option>
                                 </select>
                            </div>
                        </div>
                
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Vehicle Type:</label>
                     
                                 <select>
                                      <option value="">All</option>
                                      {% for i in vehicle_types %}
                                          <option value="{{ i }}">{{ i.name }}</option>
                                      {% endfor %}
                                 </select>
                            </div>
                        </div>
                
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Make:</label>
                                <select>
                                    <option value="">All</option>
                                    {% for i in makes %}
                                        <option value="{{ i }}">{{ i.name }}</option>
                                    {% endfor %}
                               </select>
                            </div>
                        </div>
                
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Model:</label>
                                <select>
                                    <option value="">All</option>
                                    {% for i in models %}
                                        <option value="{{ i }}">{{ i.name }}</option>
                                    {% endfor %}
                               </select>
                            </div>
                        </div>
                
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Price Range:</label>
                                <div style="display: flex; justify-content: space-between; align-items: center;">
                                    <input type="text" class="form-control" id="price-from" placeholder="From" value="" style="width: 45%;">
                                    <input type="text" class="form-control" id="price-to" placeholder="To" value="" style="width: 45%;">
                                </div>
                            </div>
                        </div>
                
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Mileage Range:</label>
                                <div style="display: flex; justify-content: space-between; align-items: center;">
                                    <input type="text" class="form-control" id="mileage-from" placeholder="From" value="" style="width: 45%;">
                                    <input type="text" class="form-control" id="mileage-to" placeholder="To" value="" style="width: 45%;">
                                </div>
                            </div>
                        </div>
                
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Engine size:</label>
                                <div style="display: flex; justify-content: space-between; align-items: center;">
                                    <input type="text" class="form-control" id="engine-from" placeholder="From" value="" style="width: 45%;">
                                    <input type="text" class="form-control" id="engine-to" placeholder="To" value="" style="width: 45%;">
                                </div>
                            </div>
                        </div>
                
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Power:</label>
                                <div style="display: flex; justify-content: space-between; align-items: center;">
                                    <input type="text" class="form-control" id="power-from" placeholder="From" value="" style="width: 45%;">
                                    <input type="text" class="form-control" id="power-to" placeholder="To" value="" style="width: 45%;">
                                </div>
                            </div>
                        </div>
                
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Fuel Type:</label>
                                <select>
                                    <option value="">All</option>
                                    {% for i in fuels %}
                                        <option value="{{ i }}">{{ i.name }}</option>
                                    {% endfor %}
                               </select>
                            </div>
                        </div>
                
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Gearbox:</label>
                                <select>
                                    <option value="">All</option>
                                    {% for i in gearboxes %}
                                        <option value="{{ i }}">{{ i.name }}</option>
                                    {% endfor %}
                               </select>
                            </div>
                        </div>
                
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Number of seats:</label>
                     
                                 <select>
                                        <option value="" selected>All</option>
                                        {% for i in seat_range %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endfor %}
                                 </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4 offset-sm-4">
                      <div class="main-button text-center">
                          <a href="#">Search</a>
                      </div>
                    </div>
                    <br>
                    <br>
                </form>
            </div>

            <div class="row">
                {% for car in cars %}
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="data:image/jpeg;base64,{{ car.image_src }}" alt="">
                        </div>
                        <div class="down-content">
                            <span>
                                {{car.price_display}}
                                <!-- <del><sup>$</sup>11999 </del> &nbsp; <sup>$</sup>11779 -->
                            </span>

                            <h4>{{car.name}}</h4>

                            <p>
                                <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;
                                <i class="fa fa-cube"></i> {{car.engine}} &nbsp;&nbsp;&nbsp;<br>
                                <i class="fa fa-cog"></i> {% if car.automatic %}Automatic{% else %}Manual{% endif %}&nbsp;&nbsp;&nbsp;
                            </p>

                            <ul class="social-icons">
                                <li><a href="/car-details/{{car.id}}">+ View Car</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <br>
                
            <!-- <nav>
              <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav> -->

        </div>
    </section>
    <!-- ***** Fleet Ends ***** -->
{% endblock %}