{% extends 'index.html' %}
{% load static %}
{% block title %}Car Details{% endblock %}
{% block content %}
    <style>
        body{
            overflow: hidden;
        }
    </style>
    <section class="section section-bg" id="call-to-action" style="background-image: url(../static/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <section class="section" id="contact-us" style="margin-top: 0">
                        <div class="container-fluid">
                            <div class="row" style="display: flex; justify-content: center;">
                                <div class="col-md-16">
                                    <div class="contact-form section-bg">
                                        <form id="contact" action="" method="post">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <fieldset>
                                                        <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <fieldset>
                                                        <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email*" required="">
                                                    </fieldset>
                                                </div>
                                                <div class="col-md-12 col-sm-12">
                                                    <fieldset>
                                                        <input name="phone" type="phone" id="phone" placeholder="Phone">
                                                    </fieldset>
                                                </div>
                                                <div class="col-lg-12" style="display: flex; justify-content: space-around;">
                                                    <fieldset>
                                                        <button type="submit" id="form-submit" class="main-button">Signin</button>
                                                    </fieldset>
                                                </div>
                                                <br><br><br>
                                                <span>Already have an account? <a href="/signin">Signin</a></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}